<section id="about">
    <div class="container fond">
        <div class="text-center typewriter">
            <app-retour></app-retour>
            <h2 class="text-center">À PR<span class="purp">O</span>POS<i class="fa fa-spin fa-mercury fa-1x"></i></h2>
        </div>
        <div class="text-center">
            <img class="rounded-circle animated bounce margin img-fluid" src="assets/images/myAvatar.png" alt="avatar" id="avatar">
            <!-- <img class="img-circle margin img-fluid avatar" src="assets/images/myAvatar.png" alt="photo"> -->
        </div>
        <div class="text-center purple txtLabel">
          <h6><em>{{titre}}</em></h6>
        </div>
        <div class="spacer"></div>
        <div class="resumeProfile offset-1 col-10">
            <p class="text-center"><strong>{{resume0}}</strong></p>
            <p class="text-center">{{resume1}}</p>
            <p class="text-center">{{resume2}}</p>
            <p>
              <i class="fa fa-quote-left fa-1x">&nbsp;</i>
               {{resume3}}<br>
               {{resume4}}<br>
               {{resume5}}&nbsp;
               <i class="fa fa-quote-right fa-1x"></i>
             </p>
             <p class="text-right">{{resume6}}</p>
        </div>
  </div>
</section>
