<section id="footer">
    <div class="container fond">
        <div class="text-center typewriter">
          <app-retour></app-retour>
          <h2 class="text-center">CO<span class="purp">N</span>TACT<i class="fa fa-envelope fa-spin fa-1x"></i></h2>
        </div>

    <footer class="page-footer">
      <div class="container text-center text-left">
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="sousTitre">{{sousTitre}}</h4>
            </div>
        </div>

          <hr class="clearfix" align="center" />

        <div>
             <h5 class="font-weight-bold text-uppercase">Me trouver</h5>
              <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d177964.6200281695!2d0.8612036389216022!3d45.81732257548361!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fec2754b68cc7f%3A0x5ec31545fa811bbb!2s33+Place+de+l+%C3%89glise%2C+87310+Saint-Auvent!5e0!3m2!1sfr!2sfr!4v1529885619767" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
        </div>

          <hr class="clearfix" align="center">

        <div class="col-12 text-center">
            <h5 class="font-weight-bold text-center">Address</h5>
              <ul class="list-unstyled">
                <li><p><i class="fa fa-home mr-2"></i>{{adresse}}</p></li>
                <li><p><i class="fa fa-envelope mr-2"></i>purple.aformac@gmail.com</p></li>
                <!-- <li><p><i class="fa fa-envelope mr-2"></i><a href="purple.aformac@gmail.com">purple.aformac@gmail.com</a></p></li> -->
                  <!-- <iframe class="mail col-12" src="http://localhost:8080/" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe> -->
                <li><p><i class="fa fa-phone mr-2"></i>{{phone}}</p></li>
              </ul>
        </div>

            <hr class="clearfix" align="center">

          <div class="col-12 text-center">
            <h5 class="font-weight-bold text-uppercase">Follow Us</h5>
            <!-- Linkedin -->
            <a type="button" class="btn-floating btn-li" href="https://www.linkedin.com/in/emmanuelle-membrive-b55099155/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
            <!-- Github -->
            <a type="button" class="btn-floating btn-github" href="https://github.com/Purple-Manue" target="_blank"><i class="fa fa-github fa-2x"></i></a>
            <!-- Google +-->
            <a type="button" class="btn-floating btn-gplus" href="https://plus.google.com/u/0/111203551846199861201" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>
            <!-- Instagram -->
            <a type="button" class="btn-floating btn-dribbble" href="https://www.instagram.com/emmanuellelife/?hl=fr" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
          </div>
        </div>

          <hr class="clearfix" align="center">

        <div class="bsfooter-copyright text-center">© 2018 Copyright
        <p>{{footerText}}</p>
        </div>
      </footer>

  </div>
</section>
