<section id="skills">
  <app-retour></app-retour>
  <div class="container translate typewriter">
      <!-- <app-retour></app-retour> -->
     <h2 class="text-center">CO<span class="purp">M</span>PÉTENCES<i class="fa fa-cogs fa-spin fa-1x"></i></h2>
    <div class="row">
      <div class="skill col-sm-6 col-md-6 text-center">
        <!-- <span><i class="fas fa-server fa-2x"></i></span> -->
        <h3>Front-end</h3>
        <ul class="list-unstyled frontend">
            <li><img src="assets/images/html.png">HTML / CSS <img src="assets/images/css.png"></li>
            <li ><img src="assets/images/bootstrap.png">Bootstrap / SASS <img src="assets/images/sass.png"></li>
            <li><img src="assets/images/javascript.png">Javascript / jQuery <img src="assets/images/jquery.png"></li>
        </ul>
      </div>
      <div class="skill col-sm-6 col-md-6 text-center backend">
        <!-- <span><i class="fas fa-desktop fa-2x"></i></span> -->
        <h3>Back-end</h3>
        <ul class="list-unstyled backend">
            <li class="php"><img src="assets/images/php.png">PHP / MySQL <img src="assets/images/mysql.png"></li>
            <li class="node"><img src="assets/images/nodejs.png">NodeJS</li>
        </ul>
      </div>
      <div class="skill col-sm-12 col-md-12 text-center">
        <!-- <span><i class="fas fa-chart-pie fa-2x"></i></span> -->
        <h3>Frameworks</h3>
        <ul class="list-unstyled">
            <li class="col-3"><img src="assets/images/angular.png">Angular</li>
            <li class="col-3"><img src="assets/images/wordpress.png">Wordpress</li>
        </ul>
      </div>
    </div>
  </div>
</section>
